body { background-color: #000 }
#console { font-family: courier, monospace; color: #fff; max-width:750px; margin: 0 auto; }
#cli { display: none; }
a { color: #0bc; text-decoration: none; }
.user { color: #0f0; }
.dir { color: #0bc; }
.prompt { color: #f00; }